header {
    background-color: #282a36;
    padding: 20px 20px 20px 40px;
    margin-top: 0;
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: #50fa7b;
}

body {
    margin: 0;
    background-color: #44475a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    background-color: #282a36;
    border-radius: 10px;
    margin: 5px;
}

div.container {
    background-color: #282a36;
    border-radius: 10px;
}

div.container { 
    margin: 8px auto;
    width: 1028px;
}

article {
    border-bottom: 1px #6272a4 solid;
    margin-bottom: 10px;
}

h1, article {
    color: white;
    padding: 20px 10px 10px;
}